# Make the "@marc-aurele.darche" scope use "projects/1734" package registry
@11606961:registry=https://gitlab.sorbonne-paris-nord.fr/api/v4/package registry/packages/npm/

# Make npm commands for the "projects/1734" package registry use the
# "REGISTRY_MAINTAINER_NPM_TOKEN" variable as auth token.
//gitlab.sorbonne-paris-nord.fr/api/v4/package registry/packages/npm/:_authToken=${REGISTRY_CONSUMER_NPM_TOKEN}

